p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Roboto, arial;
}

body {
  padding-top: 72px;
  padding-left: 82px;
  margin: 0px;
  background-color: rgb(247, 246, 246);
}

.tumbnail {
  position: relative;
  cursor: pointer;
}

.time {
  position: absolute;
  background-color: black;
  color: white;
  bottom: 10px;
  right: 4px;
  font-family: Roboto, Arial;
  font-size: 11px;
  padding: 2px 3px;
  font-weight: 500;
  border-radius: 2px;
}
.thumbnail-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.video-discription {
  display: grid;
  grid-template-columns: 40px 1fr;
}

.profile-picture {
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 40px;
  object-fit: cover;
  object-position: center;
  margin-top: 8px;
  margin-right: 10px;
}


.video-topic {
  margin-top: 8px;
  font-weight: 500;
}

.video-owner {
  margin-top: 8px;
  margin-bottom: 3px;
}

.author {
  font-size: 10px;
  color: #606060;
}

.views-details {
  font-size: 10px;
  color: #606060; 
}

.video-title {
  font-size: 12px;
  line-height: 18px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 35px;
  margin-right: 20px; 
}

@media(max-width: 750px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 751px) and (min-width:999px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(min-width: 1000px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.header {
  display: flex;
  flex-direction: row;
  height: 50px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  border-bottom: 1px solid rgb(213, 207, 207);
  z-index: 100;
}

.center-part {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 60px;
  margin-right: 30px;
  max-width:400px;
}

.hamburger-menu {
  height: 20px;
  margin-left: 18px;
  margin-right: 18px;
}

.youtube-logo {
  height: 17px;
}

.left-part {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-icon {
  height: 21px;

}

.voice-search-icon {
  height: 21px;
  width: 21px;
  margin-top: 1px;
}

.search-bar {
  z-index: 102;
  font-size: 15px;
  flex: 1;
  height: 30px;
  border-color:rgb(214, 204, 204);
  border-style: solid;
  border-width: 1px;
  padding-left: 10px;
  border-radius: 2px 0 0 2px;
  box-shadow:inset 1px 1px  2px rgba(0,0,0,0.05);
  margin-right: -1px;
  width: 0;  /*To reduce the search bar length fully */
}

.search-bar:focus {
    border-color: blue; /* Change to any color you want */
    outline: none; /* Optionally remove the default outline */
}

.search-bar::placeholder {
  color: grey;
  font-size: 15px;
}

.search-button {
  height: 34px;
  width: 56px;
  border-color:rgb(214, 204, 204);
  border-width: 1px;
  border-radius: 0 2px 2px 0;
  border-style: solid;
  margin-right: 8px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.voice-search-button {
 border: none;
 background-color: rgb(248, 248, 248);
 height: 34px;
 width: 34px;
 border-radius: 16px;
 cursor: pointer;
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
}

.right-part {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  width: 160px;
  cursor: pointer;
  margin: 15px;
}

.upload-button {
  height: 22px;
}

.app-button {
  height: 22px;
}

.notification-button {
  height: 22px;
}

.profile-button {
  height: 26px;
  width: 26px;
  border-radius: 13px;
}

.notification {
  position: relative;
}

.number-of-notifications {
  position: absolute;
  background-color: rgb(200, 35, 35);
  color: white;
  font-family: Roboto, Arial;
  padding:2px 5px 2px 5px;
  border-radius: 10px;
  font-size: 8px;
  top: -1px;
  right: -3px;
}

.tooltip {
  font-family: Roboto, Arial;
  font-size:10px;
  position: absolute;
  background-color: rgb(42, 41, 41);
  color: white;
  padding: 6px 4px;
  opacity: 0;
  transition: opacity 0.15s;
  white-space: nowrap;
  pointer-events: none;
  border-radius: 2px;
}

.search-button .tooltip,
.voice-search-button .tooltip {
  bottom: -34px;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.right-part div:hover .tooltip {
  opacity: 0.8;
}

.right-part div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-part .tooltip {
  bottom: -26px;
}

.notification .tooltip {
  bottom: -40px;
}

.dtx {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 38px;
}

.popup-profile {
  padding: 12px;
  box-shadow: 0.1px 0.1px 5px rgba(0,0,0,0.2);
  position: absolute;
  background-color: white;
  border-radius: 2px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  font-family: Roboto,Arial;
  font-size:  12px;
}

.popup-pp {
  height: 30px;
  border-radius: 15px;
}

.dtx:hover .popup-profile {
  opacity: 1;
}


.popup-pp {
  margin-right: 10px;
}

.a-name {
  margin-bottom: 2px;
  font-weight: 500;
}

.subs {
  font-size: 8px;
}





